@page
@model             Pages.IndexModel
@{
    ViewData["Title"] = "Products";
    <style>
        .create-new-button {
            padding: 12px 24px; /* Kích thước của nút */
            font-size: 16px; /* Kích thước chữ */
            border: none; /* Không có đường viền */
            border-radius: 5px; /* Góc bo tròn */
            background-color: #2ecc71; /* Màu nền xanh rêu */
            color: #fff; /* Màu chữ trắng */
            cursor: pointer; /* Con trỏ chuột khi di chuyển vào nút */
        }
        .create-new-button:hover {
                background-color: #27ae60;
        }
        .create-new-button:active {
                background-color: #218c53;
        }
    </style>
    
}

<h2>Products </h2>

<button class="create-new-button">
    <a href="Product/Create" style="text-decoration: none; color: inherit;">Create New</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>ImageUrl</th>
            <th>IsPizzaOfTheWeek</th>
            <th>Catelogy</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var catelogy in Model.Catelogies)
        { 
            @foreach (var product in Model.Products)
            {
                if (catelogy.CategoryId == product.CategoryId)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>$@product.UnitPrice</td>
                        <td>@catelogy.Description</td>
                        <td><img src="/Images/@product.ProductImage" width="100px"></img></td>
                        <td></td>
                        <td>@catelogy.CategoryName</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@product.ProductId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@product.ProductId">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@product.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            }
        }   
    </tbody>
</table>
